<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
      background-color: #f0f0f0;
      border: 3px solid black;
      width: fit-content;
      height: fit-content;
      margin-top: 200px;
      margin-left: 650px;
      padding: 10px;
      box-shadow:  3px 3px 3px black;
    }
    </style>
</head>
<body>
    <h1><center>User Login</center></h1>
    <center>
        <form action="" method="POST">
            <input placeholder="USERNAME" type="text" name="username" required><br><br>
            <input type="password" placeholder="PASSWORD" name="password" required><br><br>
            <button>Submit</button>
        </form> 
    </center>
</body>
</html>